@import './base.css';

:root {
  --background-color: rgb(15, 14, 35);
  --background-color-hover: hsla(160, 100%, 74%, 0.2);
  --selected-color: rgba(0, 255, 0, 0.2);
  --main-text-color: rgb(255, 81, 110);
}

#app {
  /*max-width: 1280px;*/
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

body {
  background-color: var(--background-color);
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--background-color-hover);
  }
}

@media (min-width: 1024px) {
  #app {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    margin: 0;
  }
}
