@import './base.css';

:root {
  --background-color: rgb(15, 14, 35);
  --background-color-hover: hsla(160, 100%, 74%, 0.2);
  --nav-content-color: hsla(160, 100%, 37%, 1);
  --selected-color: rgba(0, 255, 0, 0.2);
  --main-text-color: rgb(255, 81, 110);
  --second-text-color: rgb(148, 44, 61);
  --third-text-color: #ffb6b6;
}

.form{
  position: relative;
  display: block;
  margin: 1.5rem auto;
  width:fit-content;
  padding: 1rem;
  border: 3px solid var(--second-text-color);
  border-radius: 10px;
}
.form label{
  color: var(--main-text-color);
  font-size: 1.4rem;
}
.form input{
  height: 1.8rem;
  font-size: 1rem;
  border: 3px solid var(--second-text-color);
  border-radius: 10px;
}
.form > div {
  margin: 0.4rem;
}
.form button {
  margin: 0.4rem;
  margin-top: 2rem;
}
.form svg {
  position: absolute;
  fill: var(--third-text-color);
  top: -2.2rem;
  left: -1.8rem;
  width: 65px;
}
/*----pop up----*/
.popup .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.popup .modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}
.popup .modal svg {
  float: right;
  width: 2rem;
  fill: var(--main-text-color);
  cursor: pointer;
}
.popup .modal p {
  width: fit-content;
}
.popup .modal svg:hover {
  fill: rgb(255, 50, 84);
}
/*-----------*/
h2{
  font-size: 2rem;
}
h3{
  font-size: 1.8rem;
}

button {
  height: 30px;
  margin-top: 10px;
  font-size: 1rem;
  background-color: var(--nav-content-color);
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  color: #fff;
  cursor: pointer;
}

#app {
  /*max-width: 1280px;*/
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

body {
  background-color: var(--background-color);
}

a,
.green {
  text-decoration: none;
  color: var(--nav-content-color);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--background-color-hover);
  }
}

@media (min-width: 1024px) {
  #app {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    margin: 0;
  }
}
